body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    height: 100vh;

}

#display{
    height: 50px;
    width: 100%;
    background-color: yellow;
    border-radius: 15px;
    color:black;
    margin-bottom: 20px;
    padding: 20px;
    border: none;
    text-align: right;
    font-size: 1.5rem;

}
.keys{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
    width: 300px;
    border-radius: 15px;

}
.buttons{
    display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 buttons per row */
  gap: 10px;
}

button {
  width: 55px;
  height: 55px;
  margin: 5px;
  font-size: 1.2em;
  background-color: #1a1199;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
    transition: background-color 0.3s, transform 0.2s
  }
button:hover {
    background-color: #444;
  }
  
  button:active {
    background-color: #555;
  }